@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #82181a;
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: #262626;
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --accent: #009a83;
}

:dark {
  --background: lab(94.15% 0.36 -0.97);
  --foreground: oklch(0.15 0.01 264);
  --card: oklch(0.98 0.001 264);
  --card-foreground: oklch(0.15 0.01 264);
  --popover: oklch(0.98 0.001 264);
  --popover-foreground: #090b0f;
  --primary: #365db7;
  --primary-foreground: #f8f8fa;
  --secondary: oklch(0.75 0.08 180);
  --secondary-foreground: oklch(0.15 0.01 264);
  --muted: #e3e4e8;
  --muted-foreground: oklch(0.55 0.01 264);
  --accent: #009a83;
  --accent-foreground: oklch(0.98 0.002 264);
  --destructive: #e7000b;
  --destructive-foreground: #e7000b;
  --border: oklch(0.92 0.005 264);
  --input: oklch(0.92 0.005 264);
  --ring: oklch(0.5 0.15 264);
  --chart-1: oklch(0.5 0.15 264);
  --chart-2: oklch(0.6 0.14 180);
  --chart-3: oklch(0.7 0.12 150);
  --chart-4: oklch(0.55 0.13 200);
  --chart-5: oklch(0.65 0.11 220);
  --radius: 0.75rem;
  --sidebar: oklch(0.98 0.002 264);
  --sidebar-foreground: oklch(0.15 0.01 264);
  --sidebar-primary: oklch(0.5 0.15 264);
  --sidebar-primary-foreground: oklch(0.98 0.002 264);
  --sidebar-accent: oklch(0.6 0.14 180);
  --sidebar-accent-foreground: oklch(0.98 0.002 264);
  --sidebar-border: oklch(0.92 0.005 264);
  --sidebar-ring: oklch(0.5 0.15 264);
}